.imgdidik1{
  border-radius: 50%;
  width: 200px;
}
.imgdidik2{
  border-radius: 50%;
  width: 40px;
}
.bolddidi {
    font-weight: bold;
}
/* Style the buttons */
.btndidik {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 18px;
}

/* Style the active class, and buttons on mouse-over */
.active, .btndidik:hover {
    background-color: #666;
    color: white;
}